ass5/implementation/airplanemanufacturing.wsdl

<definitions Name="airplanemanufacturing" targetNamespace="urn:m" 
	xmlns:m="http://wwwlab.cs.univie.ac.at/~bartlp20/iop/implementation/airplanemanufacturing.wsdl" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema targetNamespace="http://wwwlab.cs.univie.ac.at/~bartlp20/iop/implementation/airplanemanufacturing.wsdl">
			<!-- try urn:m -->
			<xsd:complexType name="PlanesColorsRequestArray">
				<xsd:sequence>
					<xsd:element name="color" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PlanesLiveriesRequestArray">
				<xsd:sequence>
					<xsd:element name="livery" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<!-- getCustomerByIDRequest -->
	<message name="getCustomerByIDRequest">
		<part name="ID" type="xsd:integer"/>
	</message>
	<message name="getCustomerByIDResponse">
		<part name="ID" type="xsd:string"/>
	</message>
	<!-- getPlaneByColor -->
	<message name="getPlanesByColorRequest">
		<part name="colors" type="m:PlanesColorsRequestArray"/>
	</message>
	<message name="getPlanesByColorResponse">
		<part name="result" type="xsd:xml"/>
	</message>
	<!-- getPlaneByLivery -->
	<message name="getPlaneByLiveryRequest">
		<part name="colors" type="m:PlanesLiveriesRequestArray"/>
	</message>
	<message name="getPlaneByLiveryResponse">
		<part name="result" type="xsd:json"/>
	</message>
	<portType name="airplanemanufacturingPort">
		<operation name="getCustomerByID">
			<input message="m:getCustomerByIDRequest"/>
			<output message="m:getCustomerByIDResponse"/>
		</operation>
		<operation name="getPlanesByColor">
			<input message="m:getPlanesByColorRequest"/>
			<output message="m:getPlanesByColorResponse"/>
		</operation>
		<operation name="getPlanesByLivery">
			<input message="m:getPlaneByLiveryRequest"/>
			<output message="m:getPlaneByLiveryResponse"/>
		</operation>
	</portType>
	<binding name="airplanemanufacturingBinding" type="m:airplanemanufacturingPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getCustomerByID">
			<soap:operation soapAction="urn:airplanemanufacturing#getCustomerByID"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getPlanesByColor">
			<soap:operation soapAction="urn:airplanemanufacturing#getPlanesByColor"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getPlanesByLivery">
			<soap:operation soapAction="urn:airplanemanufacturing#getPlanesByLivery"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
	</binding>
	<service name='airplanemanufacturing'>
		<port name="airplanemanufacturingPort" binding="m:airplanemanufacturingBinding">
			<soap:address location="http://wwwlab.cs.univie.ac.at/~bartlp20/iop/implementation/server.php"/>
		</port>
	</service>
</definitions>