ass5/implementation/airplanemanufacturing.wsdl

<definitions Name="airplanemanufacturing" targetNamespace="urn:m" 
	xmlns:m="http://wwwlab.cs.univie.ac.at/~bartlp20/iop/implementation/airplanemanufacturing.wsdl" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema targetNamespace="http://wwwlab.cs.univie.ac.at/~bartlp20/iop/implementation/airplanemanufacturing.wsdl">
			<!-- try urn:m -->
			<xsd:complexType name="PlanesColorsRequestArray">
				<xsd:sequence>
					<xsd:element name="color" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PlanesLiveriesRequestArray">
				<xsd:sequence>
					<xsd:element name="livery" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CountriesRequestArray">
				<xsd:sequence>
					<xsd:element name="country" type="xsd:string" maxOccurs="3" minOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ToiletUnitFlowrateRequestDict">
				<xsd:all>
					<xsd:element name="minRate" type="xsd:float"/>
					<xsd:element name="maxRate" type="xsd:float"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="MinifridgeIntervalRequestDict">
				<xsd:all>
					<xsd:element name="minFridges" type="xsd:integer"/>
					<xsd:element name="maxFridges" type="xsd:integer"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="BarMinifridgeAndColorRequestArray">
				<xsd:all>
					<xsd:element name="colors" type="m:PlanesColorsRequestArray"/>
					<xsd:element name="fridgesInterval" type="m:MinifridgeIntervalRequestDict"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<!-- getBarMinifridgeAndColor R5.3 -->
	<message name="getBarMinifridgeAndColorRequest">
		<part name="requestArray" type="m:BarMinifridgeAndColorRequestArray"/>
	</message>
	<message name="getBarMinifridgeAndColorResponse">
		<part name="Planes" type="xsd:xml"/>
	</message>
	<!-- getBarsOfPlane R3 -->
	<message name="getBarsOfPlaneRequest">
		<part name="requestArray" type="xsd:string"/>
	</message>
	<message name="getBarsOfPlaneResponse">
		<part name="Bars" type="xsd:json"/>
	</message>
	<!-- getTeamsByEmployees R2, R7 -->
	<message name="getTeamsByEmployeesRequest">
		<part name="numEmployees" type="xsd:integer"/>
	</message>
	<message name="getTeamsByEmployeesResponse">
		<part name="Teams" type="xsd:xml"/>
	</message>
	<!-- getTeamsByCountry R1, R5.1, R7-->
	<message name="getTeamsByCountryRequest">
		<part name="countries" type="m:CountriesRequestArray"/>
	</message>
	<message name="getTeamsByCountryResponse">
		<part name="Teams" type="xsd:xml"/>
	</message>
	<!-- getSmallestTeamID -->
	<message name="getSmallestTeamIDRequest"></message>
	<message name="getSmallestTeamIDResponse">
		<part name="Team" type="xsd:string"/>
	</message>
	<!-- getCustomerByID R2, R6 -->
	<message name="getCustomerByIDRequest">
		<part name="ID" type="xsd:integer"/>
	</message>
	<message name="getCustomerByIDResponse">
		<part name="Name" type="xsd:json"/>
	</message>
	<!-- getPlanesByColor R1, R5.1, R7 -->
	<message name="getPlanesByColorRequest">
		<part name="colors" type="m:PlanesColorsRequestArray"/>
	</message>
	<message name="getPlanesByColorResponse">
		<part name="result" type="xsd:xml"/>
	</message>
	<!-- getPlanesByLivery R1, R5.1, R6 -->
	<message name="getPlaneByLiveryRequest">
		<part name="colors" type="m:PlanesLiveriesRequestArray"/>
	</message>
	<message name="getPlaneByLiveryResponse">
		<part name="result" type="xsd:json"/>
	</message>
	<!-- getProtocolByDate R4, R7 -->
	<message name="getProtocolByDateRequest">
		<part name="date" type="xs:date"/>
	</message>
	<message name="getProtocolByDateResponse">
		<part name="result" type="xsd:xml"/>
	</message>
	<!-- getToiletsBetweenFlowrates R2, R5.2, R7 -->
	<message name="getToiletsBetweenFlowratesRequest">
		<part name="date" type="m:ToiletUnitFlowrateRequestDict"/>
	</message>
	<message name="getToiletsBetweenFlowratesResponse">
		<part name="result" type="xsd:xml"/>
	</message>
	<!-- getStreetsByZip R2, R6 -->
	<message name="getStreetsByZipRequest">
		<part name="date" type="xsd:integer"/>
	</message>
	<message name="getStreetsByZipResponse">
		<part name="result" type="xsd:json"/>
	</message>
	<!-- getCustomersByZip R2, R6 -->
	<message name="getCustomersByZipRequest">
		<part name="date" type="xsd:integer"/>
	</message>
	<message name="getCustomersByZipResponse">
		<part name="result" type="xsd:json"/>
	</message>
	<!-- getCustomerOfPlane R3, R6 -->
	<message name="getCustomerOfPlaneRequest">
		<part name="registration" type="xsd:string"/>
	</message>
	<message name="getCustomerOfPlaneResponse">
		<part name="result" type="xsd:json"/>
	</message>
	<!-- getTestdateOfProtocol R3, R6 -->
	<message name="getTestdateOfProtocolRequest">
		<part name="date" type="xsd:string"/>
	</message>
	<message name="getTestdateOfProtocolResponse">
		<part name="result" type="xsd:json"/>
	</message>
	<portType name="airplanemanufacturingPort">
		<operation name="getCustomerOfPlane">
			<input message="m:getCustomerOfPlaneRequest"/>
			<output message="m:getCustomerOfPlaneResponse"/>
		</operation>
		<operation name="getTestdateOfProtocol">
			<input message="m:getTestdateOfProtocolRequest"/>
			<output message="m:getTestdateOfProtocolResponse"/>
		</operation>
		<operation name="getBarMinifridgeAndColor">
			<input message="m:getBarMinifridgeAndColorRequest"/>
			<output message="m:getBarMinifridgeAndColorResponse"/>
		</operation>
		<operation name="getBarsOfPlane">
			<input message="m:getBarsOfPlaneRequest"/>
			<output message="m:getBarsOfPlaneResponse"/>
		</operation>
		<operation name="getTeamsByEmployees">
			<input message="m:getTeamsByEmployeesRequest"/>
			<output message="m:getTeamsByEmployeesResponse"/>
		</operation>
		<operation name="getTeamsByCountry">
			<input message="m:getTeamsByCountryRequest"/>
			<output message="m:getTeamsByCountryResponse"/>
		</operation>
		<operation name="getSmallestTeamID">
			<input message="m:getSmallestTeamIDRequest"/>
			<output message="m:getSmallestTeamIDResponse"/>
		</operation>
		<operation name="getCustomerByID">
			<input message="m:getCustomerByIDRequest"/>
			<output message="m:getCustomerByIDResponse"/>
		</operation>
		<operation name="getPlanesByColor">
			<input message="m:getPlanesByColorRequest"/>
			<output message="m:getPlanesByColorResponse"/>
		</operation>
		<operation name="getPlanesByLivery">
			<input message="m:getPlaneByLiveryRequest"/>
			<output message="m:getPlaneByLiveryResponse"/>
		</operation>
		<operation name="getProtocolByDate">
			<input message="m:getProtocolByDateRequest"/>
			<output message="m:getProtocolByDateResponse"/>
		</operation>
		<operation name="getToiletsBetweenFlowrates">
			<input message="m:getToiletsBetweenFlowratesRequest"/>
			<output message="m:getToiletsBetweenFlowratesResponse"/>
		</operation>
		<operation name="getStreetsByZip">
			<input message="m:getStreetsByZipRequest"/>
			<output message="m:getStreetsByZipResponse"/>
		</operation>
		<operation name="getCustomersByZip">
			<input message="m:getCustomersByZipRequest"/>
			<output message="m:getCustomersByZipResponse"/>
		</operation>
	</portType>
	<binding name="airplanemanufacturingBinding" type="m:airplanemanufacturingPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getCustomerOfPlane">
			<soap:operation soapAction="urn:airplanemanufacturing#getCustomerOfPlane"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getTestdateOfProtocol">
			<soap:operation soapAction="urn:airplanemanufacturing#getTestdateOfProtocol"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getBarMinifridgeAndColor">
			<soap:operation soapAction="urn:airplanemanufacturing#getBarMinifridgeAndColor"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getBarsOfPlane">
			<soap:operation soapAction="urn:airplanemanufacturing#getBarsOfPlane"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getTeamsByEmployees">
			<soap:operation soapAction="urn:airplanemanufacturing#getTeamsByEmployees"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getTeamsByCountry">
			<soap:operation soapAction="urn:airplanemanufacturing#getTeamsByCountry"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getSmallestTeamID">
			<soap:operation soapAction="urn:airplanemanufacturing#getSmallestTeamID"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getCustomerByID">
			<soap:operation soapAction="urn:airplanemanufacturing#getCustomerByID"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getPlanesByColor">
			<soap:operation soapAction="urn:airplanemanufacturing#getPlanesByColor"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getPlanesByLivery">
			<soap:operation soapAction="urn:airplanemanufacturing#getPlanesByLivery"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getProtocolByDate">
			<soap:operation soapAction="urn:airplanemanufacturing#getProtocolByDate"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getToiletsBetweenFlowrates">
			<soap:operation soapAction="urn:airplanemanufacturing#getToiletsBetweenFlowrates"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getStreetsByZip">
			<soap:operation soapAction="urn:airplanemanufacturing#getStreetsByZip"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
		<operation name="getCustomersByZip">
			<soap:operation soapAction="urn:airplanemanufacturing#getCustomersByZip"/>
			<input>
				<soap:body use="literal" namespace="urn:m"/>
			</input>
			<output>
				<soap:body use="literal" namespace="urn:m"/>
			</output>
		</operation>
	</binding>
	<service name='airplanemanufacturing'>
		<port name="airplanemanufacturingPort" binding="m:airplanemanufacturingBinding">
			<soap:address location="http://wwwlab.cs.univie.ac.at/~bartlp20/iop/implementation/server.php"/>
		</port>
	</service>
</definitions>